html
{
    font-size: 62.5%
}
h1
{
    font-family: "Heavy Falcon", serif;
    color:#FAFAFA;
    background: #263E4D;
    font-size: 3.7vw;
}
li
{
    list-style-type: none;
    font-family: "Odibee Sans", serif;
    color:#FAFAFA;
    font-size: 2.4vw;
}
.bouton button
{
    font-family: "Odibee Sans", serif;
    font-size: 2.3vw;
    color: #FAFAFA;
}
span
{
    font-family: Oxanium, serif;
    font-size: 3.4rem;
    color: #96ADBC;
}
#page1
{
    color:#FAFAFA;
}
h3
{
    font-family: "Odibee Sans",serif;
    font-size: 6vw;
    line-height: 12.1rem;
}

.intro p
{
    font-family: "Oxanium",serif;
    font-size: 1.7vw;
    line-height: 6rem;
}

#page2 h3,#page4 h3
{
    font-size: 5.1vw;
    color:#FAFAFA;

}
#page3 h3
 {
     font-size: 5.1vw;
     color:#FAFAFA;

 }
.carte,.carte2
{
    font-size: 1.08vw;
    color: #FAFAFA;
}
.newsletter button
{
    font-family: "Odibee Sans", serif;
    font-size: 3vw;
    color:#FAFAFA ;
}
footer
{
    font-family: "Odibee Sans", serif;
    color:#FAFAFA;
}
.mentionlegale
{
    font-size: 1.5vw;
}
footer li
{
    font-size: 1.6vw;
}
footer button
{
width: 10%;
    height: 2%;
}
.sitegc
{
    font-family: Oxanium, serif;
    font-size: 1.2vw;
    color: #FAFAFA;
    opacity: 0.5;
    margin: auto;
    background: none;
}
