@charset "UTF-8";

/* header {
  display: flex;
  background-color: saddlebrown;
  flex-direction: column;
  width: 400px;
  padding-left: 0%;
} */
@font-face {
  src: url(../fonts/Gravity-Light.otf);
  font-family: "Gravity-Light";
}
@font-face {
  src: url(../fonts/Gravity-UltraLight.otf);
  font-family: "Gravity-UltraLight";
}

@font-face {
  src: url(../fonts/Gravity-Regular.otf);
  font-family: "Gravity-Regular";
}

* {
  color: #fff;
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: black;
}

a:link {
  text-decoration: none;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: absolute;
  display: inline-block;

  width: 100%;
  height: 100%;
  -webkit-filter: brightness(60%) blur(17px);
  -moz-filter: brightness(60%) blur(17px);
  -o-filter: brightness(60%) blur(17px);
  -ms-filter: brightness(60%) blur(17px);
  filter: brightness(60%) blur(17px);
  z-index: 0;
}

.background-color {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 70em;
}

#banner {
  display: -ms-flexbox;

  align-items: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
  border-top: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
#banner h1 {
  font-size: 5em;
  line-height: 1.1;
  margin-top: 0.25em;

  font-family: "Gravity-UltraLight";
  margin-bottom: 0%;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
}
#banner header {
  width: auto;
  border-style: solid none solid none;
  border-width: 1px;
}

#banner p {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Gravity-Light";
  margin-bottom: 0.7em;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
  word-wrap: break-word;
  max-width: 45em;
  margin-bottom: 1em;
}

#banner #mail {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#banner #aboutme {
  font-size: 2em;
}

.inner {
  color: white;
}

#link {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
}

#link div {
  text-align: center;
  width: 7em;
  height: 2.5em;
  margin-left: 1em;
  border-style: solid;
  border-width: 1px;
  color: white;
}

#link div:hover {
  background-color: white;
}
#link div:hover p {
  color: rgb(29, 29, 29);
}

#link p {
  margin: 0%;
  margin-top: 0.27em;
}

#navig {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

#navig div {
  text-align: center;
  width: 7em;
  height: 2.5em;
  margin-left: 1em;
  border-style: solid;
  border-width: 1px;
  color: white;
}

#navig div:hover {
  background-color: white;
}
#navig div:hover p {
  color: rgb(29, 29, 29);
}

#navig p {
  margin: 0%;
  margin-top: 0.27em;
}

@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

.logo {
}

@media screen and (max-width: 550px) {
  #banner h1 {
    font-size: 3em;
  }

  #navig div {
    width: 6em;
    margin-left: 0;
    font-size: 0.9em;
  }

  .logo {
    width: 9em;
    height: 9em;
  }
}

@media screen and (orientation: landscape) and (max-device-height: 500px) {
  #banner h1 {
    font-size: 3em;
  }

  #banner p {
    font-size: 1.15em;
  }

  #navig div {
    width: 7em;
    height: 2em;
    margin-left: 1em;
    font-size: 1em;
  }

  .logo {
    width: 8em;
    height: 8em;
  }

  .logo-main {
    width: 31%;
    height: 60%;
  }

  .logo-main-project {
    width: 100%;
    height: 100%;
  }

  #portf .inner {
    margin-top: auto;
  }

  #banner #aboutme {
    font-size: 1.245em;
  }
}

.navigator {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  z-index: 2;
}

.navigator nav {
  display: block;
  width: 100%;
  opacity: 1;
}

.navigator nav a {
  float: right;
  text-align: center;
  width: 7em;
  font-family: "Gravity-Regular";
}

.navigator nav #rightSideNav {
  margin-right: 20%;
}

.navigator nav a #name {
  width: 10em;
  font-family: "Gravity-Regular";
  font-size: 1em;
}

.navigator nav #nameA {
  float: left;
  margin-left: 20%;
  margin-right: 0;
}
#here-menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo-main {
  position: absolute;
  z-index: 1;
  top: auto;
}

.logo-main-project {
  margin-top: -5em;
}

#portf {
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-top: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.portf-project {
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-top: 0;
  min-height: 100%;
  height: 70em;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

#portf .inner {
  margin-top: 15em;
  font-family: "Gravity-UltraLight";
  font-size: 1.5em;
}

.one-project {
  width: 100%;
  height: 48em;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.one-project p {
  max-width: 40em;
  font-family: "Gravity-Light";
  font-size: 1.2em;
  word-wrap: break-word;
  text-align: center;
}

.entry {
  text-align: center;
  width: auto;
  height: 2.5em;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.entry p {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Gravity-Regular";
  margin-bottom: 0.7em;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
  margin: 0%;
  margin-top: 0.27em;
}

.entry:hover {
  background-color: white;
}

.entry:hover p {
  color: rgb(29, 29, 29);
}

.navigator .icon {
  display: none;
}

.picProj {
  max-width: 100%;
}

@media screen and (max-width: 790px) {
  #portf .inner {
    margin-top: 12em;
  }

  .logo-main {
    width: 18em;
    height: 18em;
    top: auto;
  }

  .entry p {
    font-size: 1em;
    margin-top: 0.6em;
  }

  #name {
    margin-left: 1em;
    font-size: 0.8em;
  }

  .navigator nav a {
    display: none;
  }
  .navigator nav div {
    width: 100%;
  }

  .navigator nav #nameA {
    display: block;
  }

  .navigator .icon {
    float: right;
    display: block;
    margin-top: 5%;
  }

  .navigator.responsive {
    position: fixed;
  }
  .navigator.responsive a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }

  .logo-main-project {
    margin-top: 2em;
    width: 100%;
    height: 100%;
  }
}
@media screen and (orientation: landscape) and (max-device-height: 500px) {
  #portf .inner {
    margin-top: auto;
  }
}
@media screen and (orientation: landscape) and (max-device-height: 900px) {
  .logo-main-project {
    width: 100%;
    height: 100%;
  }
}
.project-presentation {
  width: 100%;
  height: auto;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
}

.project-presentation h1 {
  margin-bottom: 5px;
  font-size: 3em;
  color: rgb(30, 30, 34);
  font-family: "Gravity-Light";
}

.project-presentation p {
  color: black;
  font-family: "Gravity-Regular";
  font-size: 1.5em;
  word-wrap: break-word;
  text-align: center;
}

.project-presentation h2 {
  color: black;
  font-family: "Gravity-Regular";
}

.point-present {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.point-present div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
  margin-right: 7em;
  margin-left: 7em;
  margin-top: 0;
}

.point-present div p {
  font-size: 1.2em;
  word-wrap: break-word;
  text-align: center;
}

.point-present div h2 {
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
  font-family: "Gravity-Regular";
  text-align: center;
}

#title-desc {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
}

.moreInfo li {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.moreInfo h3 {
  display: flex;
  color: black;
  font-family: "Gravity-Light";
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

#moreh {
  font-size: 3em;
  font-family: "Gravity-Light";
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

#scroller {
  background-color: rgb(243, 243, 243);
  color: black;
  border-style: solid none solid none;
  border-width: 1px;
}

.scroll {
  display: none;
}

.scroll img {
  vertical-align: bottom;
}

.scroll a {
  margin-left: 2em;
  margin-right: 2em;
}

footer {
  font-family: "Gravity-Light";
  padding-bottom: 2em;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-bottom: 0;
}

footer #copyright {
  flex-direction: column;
  width: fit-content;
  width: -moz-fit-content;
  border-top-style: solid;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  margin-top: 1em;
}

footer #copyright p {
  margin: 0%;
  margin-top: 0em;
}

footer #name {
  font-size: 1.3em;
  padding-bottom: 1em;
}

@media screen and (max-width: 790px) {
  .point-present {
    flex-direction: column;
  }
  .point-present div {
    width: auto;
    margin-bottom: 1em;
  }

  .project-presentation p {
    width: 12em;
  }

  .background-color {
    height: 32em;
  }

  .portf-project {
    height: 32em;
    min-height: auto;
  }

  #banner #aboutme {
    font-size: 1.5em;
  }

  #banner #hea-1 {
    margin-top: 6em;
  }
  #banner {
    height: auto;
  }
}
