@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");

/* header {
  display: flex;
  background-color: saddlebrown;
  flex-direction: column;
  width: 400px;
  padding-left: 0%;
} */
@font-face {
  src: url(../fonts/Gravity-Light.otf);
  font-family: "Gravity-Light";
}
@font-face {
  src: url(../fonts/Gravity-UltraLight.otf);
  font-family: "Gravity-UltraLight";
}

@font-face {
  src: url(../fonts/Gravity-Regular.otf);
  font-family: "Gravity-Regular";
}

* {
  color: #fff;
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: black;
}

a:link {
  text-decoration: none;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: absolute;
  display: inline-block;

  width: 100%;
  height: 100%;
  -webkit-filter: brightness(60%) blur(17px);
  -moz-filter: brightness(60%) blur(17px);
  -o-filter: brightness(60%) blur(17px);
  -ms-filter: brightness(60%) blur(17px);
  filter: brightness(60%) blur(17px);
  z-index: 0;
}

#banner {
  display: -ms-flexbox;

  align-items: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
  border-top: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
#banner h1 {
  font-size: 5em;
  line-height: 1.1;
  margin-top: 0.25em;

  font-family: "Gravity-UltraLight";
  margin-bottom: 0%;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
}
#banner header {
  width: auto;
  border-style: solid none solid none;
  border-width: 1px;
}

#banner p {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Gravity-Light";
  margin-bottom: 0.7em;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
}

.inner {
  color: white;
}

#navig {
  display: flex;
  flex-direction: row;
}

#navig div {
  text-align: center;
  width: 7em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 1em;
  border-style: solid;
  border-width: 1px;
  color: white;
}

#navig div:hover {
  background-color: white;
}
#navig div:hover p {
  color: rgb(29, 29, 29);
}

#navig p {
  margin: 0%;
  margin-top: 0.27em;
}

@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

.logo {
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: fixed;
  display: inline-block;

  width: 5em;
  height: 5em;
}

.navigator {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  z-index: 2;
}

.navigator nav {
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin-left: 30em;
}

.navigator nav a {
  text-align: center;
  width: 7em;
  font-family: "Gravity-Regular";
}

#name {
  margin-left: 30em;
  font-family: "Gravity-Regular";
  font-size: 1em;
}
#here-menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo-main {
  position: absolute;
  z-index: 1;
  top: 11em;
}

#portf {
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-top: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

#portf .inner {
  margin-top: 12em;
  font-family: "Gravity-UltraLight";
  font-size: 1.5em;
}

.one-project {
  width: 100%;
  height: 48em;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.one-project p {
  max-width: 40em;
  font-family: "Gravity-Light";
  font-size: 1.2em;
  word-wrap: break-word;
  text-align: center;
}

.entry {
  text-align: center;
  width: auto;
  height: 2.5em;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.entry p {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Gravity-Regular";
  margin-bottom: 0.7em;
  color: #ffffff;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
  text-transform: none;
  margin: 0%;
  margin-top: 0.27em;
}

.entry:hover {
  background-color: white;
}

.entry:hover p {
  color: rgb(29, 29, 29);
}
